# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv
package-lock.json


# Ignore secrets keys and database thing by .env (from backend)
backend/.env

# Ignnore large files:
terraform/.terraform/
terraform/.terraform.lock.hcl

# virtual enviroment folder
venv/

# python files
__pycache__/
*.py[cod]
project_document.pdf
node_modules
CloudComputing.git/
backend/credentials_to_connect_with_cloudsql.json

firebaseServiceAccountKey.json
**/firebaseServiceAccountKey.json
.env
**/.env
backend-django/config/firebaseServiceAccountKey.json