/* Navbar.css */
.navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex; /* ← KLUCZOWE */
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    z-index: 1000;
}
.nav-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
  
  .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 1.5%;
  }

/* NOWE NAVLINKS  zamiast klasycznego links */
/* Resetujemy domyślny wygląd listy i układamy linki poziomo */
.nav-NavLinks {
  list-style: none; /* Usuwa brzydkie punktory */
  margin: 0;
  padding: 0;
  display: flex;    /* Układa elementy w jednym rzędzie */
  align-items: center; /* Wyśrodkowuje je w pionie */
  gap: 32px;        /* Zróbmy ładny odstęp między zakładkami (możesz go dostosować) */
}

.nav-NavLinks li {
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-NavLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
  }
.nav-NavLinks a, .logout-button {
        white-space: nowrap;
    }
/* .nav-NavLinks a:hover {
    background-color: #555;
    border-radius: 5px;
  } */


.logout-section a {
        margin-right: 50px; /* lub margin-left: 20px w zależności od kierunku */
        font-size: 18px;
    }
.logout-button {
    background-color: red;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
}

    .logout-button:hover {
        background-color: #c0392b;
    }