#root {
  width: 100%;
  max-width: none;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

body {
  background-image: url('/static-images/background1.webp');
  background-size: cover;
  background-attachment: fixed; /* could be scroll also*/
  margin: 0;
  padding: 0;

}

.center {
  margin: auto;
  width: 90%;
  padding: 30%;
  text-align: center;
}
